*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div{
    display: flex;
}

li{
    list-style-type: none;
}
body{
    background-color: #EDEDED;
}


header{
    width: 100%;
    display: flex;
    background: linear-gradient(90deg, #373737 26%, chocolate 38% 70%,#373737 80%);
    justify-content: space-around; 
    position: fixed;
    
}

footer{
    /* position: absolute; */
    /* /* display: flex; */
    background: black;
    height: 150px;
    /* bottom: 0; */
}

header h1{
    display: inline;  
    color: chocolate;
    font-family: fantasy;
    display: block;
}

#dang-nhap-dang-ky{
    width: 100px;
    justify-content: space-between;
    align-items: center;
}

.link{
    /* margin: 8px;  */
    color: #EDEDED; 
    font-style: oblique;
    font-family: fantasy;
    text-decoration: none;
}

.link-the-loai{
    margin: 8px; 
    color: black; 
    font-style: oblique;
    font-family: fantasy;
    text-decoration: none;
}

a.link:hover{
    color: chocolate;
}

a.link-the-loai:hover{
    color: chocolate;
}


#tim-kiem{
    width: 25%;
    margin: 5px 0;
    text-decoration-color: black;
}

#tim-kiem > input{
    background: #EDEDED;
    width: 100%;
    border-radius: 5px;
}


#nd-chinh{
    border: 1px solid black;
    margin: 3px;
    /* height: 700px; */
    justify-content: space-around;
}

#danh-muc-phim{
    width: 1100px;
    border: 1px solid black;
    /* margin: 5px; */
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#the-loai{
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    width: 150px;
    border: 1px solid black;
    margin: 5px;
    justify-content: center;
}


#quang-cao{
    /* flex-grow: 2;
    flex-shrink: 5; */
    border: 1px solid black;
    /* margin: 5px; */
    overflow: auto;
    justify-content: center;
}

.truyen{
    height: 200px;
    width: 274px;
    border: 1px solid red;
    overflow: auto;
}

#chuyen-trang{
    display: flex;
    height: 50px;
    width: 100%;
    border: 1px solid red ;
    margin: 3px;
    justify-content: center;
    align-items: center;
}

#chuyen-trang ul{
    display: flex;
    justify-content: center;
}

#chuyen-trang .doi-so-trang a{
    border: 1px solid #373737;
    color: #373737;
    margin: 2px;
}

#chuyen-trang .doi-so-trang a:hover{
    color: chocolate;

}

.menu-the-loai {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .menu-the-loai a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .menu-the-loai .dong-menu {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #EDEDED;
  }
  
  /* Style the button that is used to open the sidepanel */
  .mo-menu {
    font-size: 20px;
    cursor: pointer;
    background-color: #373737;
    color: chocolate;
    padding: 10px 15px;
    border: none;
  }
  
  .mo-menu:hover {
    background-color: #444;
  }