*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div{
    display: flex;
}


header{
    display: flex;
    background: linear-gradient(45deg, black 14%, chocolate 30% 70%,black);
    justify-content: space-around; 
    
}

#header h1{
    display: inline;  
    color: chocolate;
    font-family: fantasy;
    display: block;
}

a{
    margin: 5px; 
    color: #EDEDED; 
    font-style: oblique;
    font-family: fantasy;
    text-decoration: none;
}

#tim-kiem{
    width: 25%;
    margin: 5px 0;
}

#tim-kiem > input{
    width: 100%;
    border-radius: 5px;
}