*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div{
    display: flex;
}


header{
    display: flex;
    background: linear-gradient(45deg, black 14%, chocolate 30% 70%,black);
    justify-content: space-around; 
    
}

#header h1{
    display: inline;  
    color: chocolate;
    font-family: fantasy;
    display: block;
}

#link{
    margin: 8px; 
    color: #EDEDED; 
    font-style: oblique;
    font-family: fantasy;
    text-decoration: none;
}

a#link:hover{
    color: chocolate;
}


#tim-kiem{
    width: 25%;
    margin: 5px 0;
    text-decoration-color: black;
}

#tim-kiem > input{
    background: #EDEDED;
    width: 100%;
    border-radius: 5px;
}
