*,:before,:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div{
    display: flex;
}

input, option{
    height: 30px;
    width: 80%;
    margin: 5px;
    border-radius: 5px;
}

select{
    height: 30px;
    width: 80%;
    margin: 5px;
    border-radius: 5px;
    background-color: #ff79c6;
}

#them-truyen{
    /*height: 200px;*/
    max-width: 500px;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

#sua-truyen{
    /*height: 200px;*/
    max-width: 500px;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}

#xoa-truyen{
    /*height: 200px;*/
    max-width: 500px;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}

button#them{
    height: 30px;
}

button#sua,#xoa{
    height: 30px;

}

#container{
    height: 100%;
    widows: 100%;
    flex-wrap: wrap;
    /*    flex-direction: column;*/
    align-items: flex-start;
    justify-content: center;

    padding-top: 50px;
}

#container div:nth-of-type(1){
    flex-grow: 2;
}
#container div:nth-of-type(2){
    flex-grow: 1;
}
#container div:nth-of-type(3){
    flex-grow: 1;
}

p{
    width: 800px;
    font-size: 40px;
    color: white;
}

h1{
    color: white;
}

button{
    width: 200px;

}

.thong-bao{
    font-size: 30px;
    color: pink;
}

.tai-file{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid black;*/
    margin: 10px;
    height: fit-content;
    width: 500px;
}

.tai-file h1{
    margin: 0 10px 0 10px ;

}

.tai-file p{
    font-size: 20px;
    width: fit-content;

}

#upload{
    width: fit-content;

}

#file{
    /*border: 1px solid black;*/
    margin: 10px 0 10px 0;
    width: fit-content;
    color: white;
}

#file-thumb{
    /*border: 1px solid black;*/
    margin: 10px 0 10px 0;
    width: fit-content;
    color: white;
}